@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');



.tituloProducto {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(95, 95, 95);
    height: 7vh;
}

.divTitle {
    text-decoration: none;
}

.tituloProductoItem {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    color: black;
    height: 10vh;
}

.precioProducto {
    height: 10vh;
    font-family: 'Nunito', Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #000;
    display: flex;
    align-items: center;
}

.precioPageProducto {
    height: 7vh;
    font-family: 'Fira Sans', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #000;
    display: flex;
    align-items: center;
}



.bloqueProduct {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    /* height: 30vh; */
    width: 17vw;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    height: 60vh;
    margin: 20px;

    /* sombra para el bloque */

}

.bloquePageProduct {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    /* height: 30vh; */
    width: 200px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    height: 60vh;
    margin: 10px;
    /* sombra para el bloque */

}

.subBloqueProduct {
    height: 40%;
}

.description {
    height: 6vh;
    font-family: 'Fira Sans';
}

.divImg {
    width: 50vw;
}

.divData {
    width: 50vw;
}

.divDataItem {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 50vw;

}

.imgProduct {
    width: 100%;
    height: 80%;
}

.imgProductItem {
    width: 600px;
    height: calc(100vh - 201px);
}

.bloqueItemProduct {
    display: flex;
    flex-direction: row;
    margin-top: 1px;
    background-color: white;
}

.contenedorProducts {
    display: flex;
    flex-direction: row;
}

.divCompra {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divCompraItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.divCantidadItem {
    display: flex;
    flex-direction: row;
}


.divCantidad {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

.divCarrito {
    display: flex;
    justify-content: center;
}

.divCarritoItem {
    display: flex;
    justify-content: center;
    width: 30vw
}


.marginProduct {
    margin: 10px;
}

.centrar{
    display: flex;
    justify-content: center;
}

body {
    background: #ebe9e9 !important;
    font-family: sans-serif;
}

.colorButton {
    color: white !important;
    background-color: rgb(24, 158, 24) !important;
    width: 80%;
    font-weight: 700 !important;

}

.navList {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    margin: 0;
}

.secondNavList {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    height: 50px;
    margin: 0;
    background-color: white;
    color: black;
}

.secondNavItem {
    margin: 10px;
    color: black;
    text-decoration: none;
}

.itemNav {
    text-decoration: none;
    color: goldenrod;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
}

.divPag {
    display: flex;
    background-color: white;
    height: 13vh;
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.3);
}

.divTextPag {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    margin-left: 90px;
    text-decoration: none;
    color: black;

}

.unirPages {
    display: flex;
    flex-direction: row;
}

.buscador {
    width: 25%;
    display: flex;
    justify-content: center;
}

.buscador button {
    margin-top: 20px;
    height: auto;
    padding: 10px 20px;
    align-self: flex-start;
    /* evita que se estire en flex */
    width: fit-content;
}

.divCategorias {
    display: flex;
    flex-direction: column;
}

.hamburger-btn {
    font-size: 18px;
    background: black;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.menuCategorias ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #f2f2f2;
    border: 1px solid #ccc;
    margin-top: 10px;
    border-radius: 5px;
}

.menuCategorias ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.menuCategorias ul li:last-child {
    border-bottom: none;
}

.menuCategorias ul li a {
    text-decoration: none;
    color: black;
}


.divTextPag:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.649);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
}

.divForm {
    display: flex;
    justify-content: center;
}

.inputBuscador {
    width: 600px;
    height: 45px;
}

.divResumenVentaCart {
    margin: 5px;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    height: 8vh;
    width: 70vw;
    align-items: center;
    margin-right: 30px;
}

.divResumenVentaCart p {
    margin: 0;
    line-height: 1.2;
}

.divGeneralCart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.miniImgCart {
    height: 8vh;
    width: 8vw;
    margin: 30px;
}

.itemResumen {
    flex: 1;
    /* ocupa mismo espacio que los demás */
    text-align: start;
    min-width: 0;
}


.divResumenTotal {
    width: 150vw;
    height: 74vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.displayRow {
    display: flex;
    flex-direction: row;
    margin: 10px;

}

.titleResumenTotal {
    margin: 20px;
    font-size: 4vh;
    font-weight: 600;
}

.subtotalResumenTotal {
    margin: 20px;
    font-size: 3vh;
    font-weight: 400;
}

.emptyCart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 83vh;
    background-color: black;
    color: white;
}

.emptyCartTitle {
    font-size: 3vw;
}

.buttonCant {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    width: 30px;
    height: 26px;
    margin-inline: 3.5px;
    line-height: 1.2;
    border: none;
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.buttonCantItem {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    width: 30px;
    height: 100%;
    margin-inline: 3.5px;
    line-height: 1.2;
    border: none;
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cantItem {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 45px;
    height: 100%;
    line-height: 1.2;
    border: transparent;
    border-radius: 5px;
    background-color: #f0f0f0;
    font-size: small;
}

.transfer{
    font-family: 'Nunito','Lucida Sans';
    color: blue;
    font-size:15px;
    margin-left: 20px;
    height: 5vh;
}

.buttonCant:hover {
    border: 2px solid greenyellow;
}

.cant {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 45px;
    height: 26px;
    line-height: 1.2;
    border: transparent;
    border-radius: 5px;
    background-color: #f0f0f0;
    font-size: small;
}


.deleteItem {
    border: transparent;
    border-radius: 5px;
    margin-right: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.deleteItem:hover {
    background-color: rgba(255, 0, 0, 0.514);
}